<% provide(:title, 'Sign In')%>
<% content_for :head do %>
<script type="text/javascript" src="http://platform.linkedin.com/in.js">
  api_key: kdi6s57l5zj9
  authorize: true
</script>  
<% end %>
<div class="row">
	<div class="span6 offset3">
		<h2>Sign In</h2>
		<%= form_for(:session, url: sessions_path) do |f| %>
		
			<%= f.label :email %>
			<%= f.text_field :email %>
			
			<%= f.label :password %>
			<%= f.password_field :password %>
			<br>		
			<%= f.submit "Sign in", class: "btn" %>

		<% end %>
	</div>
</div>
