<% provide(:title, 'Home')%>  
<div class="row">
	<div class="span10">
		<h3>Nonprofit learning and networking events</h3>	
		<h4>
			We curate awesome events into one list.   
		</h4>
		<%= form_tag :controller => 'events', :action => 'search', :method => 'get' do %>
			<%= text_field_tag :search, params[:search], :id => 'search_field', size: 100, class: "input-xxlarge" %>
			<%= submit_tag "Search", name: nil, class: "btn" %> 
		<% end %>
		<%= will_paginate %>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Date Time</th>
					<th>Cost</th>
					<th>Information</th>
				</tr>
			</thead>
			<tbody>
			<% @events.each do |event| %>
				<tr>
					<td><%= time_tag event.start_date_time %></td>
					<td><%= if event.cost > 0 
								number_to_currency(event.cost)
							else 
								"Free" 
							end %></td>
					<td><%= link_to event.name, event %><br>
						<%= "#{event.location} #{event.address}" %><br>
					</td>
				</tr>
			<% end %>
			</tbody>
		</table>
		<%= will_paginate %>
	</div>

	<div class="span2">
		<script type="text/javascript"><!--
		google_ad_client = "ca-pub-0542984886368674";
		/* FTGG */
		google_ad_slot = "6551678967";
		google_ad_width = 160;
		google_ad_height = 600;
		//-->
		</script>
		<script type="text/javascript"
		src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
		</script>
	</div>
</div>
