<header class="navbar">
  <div class="navbar-inner">
	<div class="h_container">
	    <div class="row">
		    <div class="span4">
			    <%= link_to 'CHANCE FOR GOOD', root_path, {id: "logo", class: 'brand'}%>	
			</div>
			<div class="span8">
				<nav>
					<ul class="nav pull-right">
						<li><%= link_to "Events", 	events_path %></li>
						<li><%= link_to "Add Event", new_event_path %></li>
						<% if signed_in? %>
							<li><%= link_to "Import Events", ebs_path if current_user.admin? %></li>
							<li id="fat-menu" class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									Account <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><%= link_to "Bookmark", ev_favorites_path %></li>
									<li><%= link_to "My Events", ev_favorites_path %></li>
									<li><%= link_to "Event History", ev_favorites_path %></li>
									<li><%= link_to 'Profile', edit_user_path(current_user) %></li>
									<li class="divider"></li>
									<li><%= link_to 'Sign Out', signout_path, method: "delete" %></li>	
								</ul>
							</li>
						<% else %>
							<li><%= link_to "Sign Up", 	signup_path %></li>
							<li><%= link_to "Log In", 	signin_path %></li>
						<% end %>
					</ul>
				</nav>
			</div>
    	</div>
    </div>
  </div>
</header>