<!DOCTYPE html>
<html>
	<head>
	  <title><%= content_for?(:title) ? yield(:title) : "FTGG Events" %></title>
	  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "FTGG Events" %>">
	  <%= stylesheet_link_tag "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" />
	  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
	  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
	  <%= csrf_meta_tags %>
		<!--[if lt IE 9]>
		<script src="assets/html5shiv.js"></script>
		<![endif]-->
	  <%= yield(:head) %>
	</head>	
	<body>
	<%= render "layouts/header"%>
	<div class="content">
	<% flash.each do |key, value| %>
		<div class="alert alert-<%= key %>"><%= value %></div>
	<% end %>
	<%= yield %>
	</div>
	<%= render "layouts/footer"%>	
	</body>
</html>
